.bar { 
    height: 18px;
    border: 1px solid #777;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0; margin: 8px;
    overflow: hidden;
}

.bar div {
    height: 100%;
    position:relative;
}

.bar #sv_bar {background: #777}
.bar #ma_bar {top:-100%;border-right: 1px solid #4169E1}
.bar #aa_bar {top:-200%;border-right: 1px solid #B8860B}
.bar #me_bar {top:-300%;border-right: 1px solid #FF4500}
