@charset "UTF-8";
/* latin-ext */
@font-face { font-family: 'Roboto Mono'; font-style: normal; font-weight: 400; src: local("Roboto Mono"), local("RobotoMono-Regular"), url(fonts/hMqPNLsu_dywMa4C_DEpY6E8kM4xWR1_1bYURRojRGc.woff2) format("woff2"); unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face { font-family: 'Roboto Mono'; font-style: normal; font-weight: 400; src: local("Roboto Mono"), local("RobotoMono-Regular"), url(fonts/hMqPNLsu_dywMa4C_DEpY4gp9Q8gbYrhqGlRav_IXfk.woff2) format("woff2"); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* latin-ext */
@font-face { font-family: 'Roboto Mono'; font-style: normal; font-weight: 700; src: local("Roboto Mono Bold"), local("RobotoMono-Bold"), url(fonts/N4duVc9C58uwPiY8_59Fz4gd9OEPUCN3AdYW0e8tat4.woff2) format("woff2"); unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face { font-family: 'Roboto Mono'; font-style: normal; font-weight: 700; src: local("Roboto Mono Bold"), local("RobotoMono-Bold"), url(fonts/N4duVc9C58uwPiY8_59Fz_79_ZuUxCigM2DespTnFaw.woff2) format("woff2"); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
*, *:before, *:after { box-sizing: inherit; }

html { box-sizing: border-box; font-family: "Roboto Mono", monospace; font-size: 16px; line-height: 1.8; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; }

body { margin: 0; padding: 3rem 1.5rem; background-color: #1F252C; color: #fff; }

h1, h2, h3, h4, h5, h6 { margin-top: 0; line-height: 1.5; font-weight: 400; }

p { margin-top: 0; }

a { color: #fff; text-decoration: none; }

.container { margin-right: auto; margin-left: auto; width: 100%; max-width: 37.5rem; }

.section { margin-bottom: 4.5rem; }

.section__heading { margin-bottom: 1.5rem; }
.section__heading:after { content: '¬'; margin-left: 4px; }

.projects { list-style: none; margin: 0; padding-left: 0; }

.projects__item { margin-bottom: 1.5rem; display: flex; justify-content: space-between; }

.projects__header { position: relative; display: flex; }

.projects__branding { flex-shrink: 0; margin-top: 8px; margin-right: 1.5rem; width: 8px; height: 8px; border-radius: 50%; text-indent: 100%; white-space: nowrap; overflow: hidden; }

.projects__branding--blink { animation: blink 1s steps(2, start) infinite; }

@keyframes blink { to { visibility: hidden; } }
.projects__title { flex: 33.33% 0 0; margin-bottom: 0; font-size: 1rem; }

.projects__description { margin-bottom: 0; font-size: 0.875rem; color: rgba(255, 255, 255, 0.75); }

.projects__timeline { font-size: 0.875rem; }

.grid { display: flex; flex-wrap: wrap; margin-left: -1.5rem; }

.grid__item { width: 100%; padding-left: 1.5rem; }
